@model FitnessCenterManagement.Models.Trainer

@{
    ViewData["Title"] = "Eğitmeni Sil";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-danger">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0"><i class="bi bi-exclamation-triangle"></i> Eğitmeni Sil</h4>
                </div>
                <div class="card-body">
                    <h5 class="text-danger">Bu eğitmeni silmek istediğinizden emin misiniz?</h5>
                    <hr>
                    
                    <dl class="row">
                        <dt class="col-sm-4">İsim:</dt>
                        <dd class="col-sm-8">@Model.Name</dd>
                        
                        <dt class="col-sm-4">E-posta:</dt>
                        <dd class="col-sm-8">@Model.Email</dd>
                        
                        <dt class="col-sm-4">Telefon:</dt>
                        <dd class="col-sm-8">@Model.PhoneNumber</dd>
                    </dl>
                    
                    <form asp-action="Delete" method="post">
                        <input type="hidden" asp-for="Id" />
                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Listeye Dön
                            </a>
                            <button type="submit" class="btn btn-danger">
                                <i class="bi bi-trash"></i> Sil
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
